@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slide-in-right {
    animation-name: slideInRight;
    animation-duration: 0.8s; /* Adjust duration as needed */
    animation-fill-mode: both;
}
