<section
  class="bg-gradient-to-r from-blue-600 to-blue-300 h-screen flex items-center justify-center"
>
  <div
    class="text-black backdrop-blur-lg dark:bg-gray-800 dark:bg-opacity-60 animate-slide-in-right w-full max-w-lg bg-white bg-opacity-70 rounded-lg p-10 shadow-lg"
  >
    <!-- <div class="space-y-4"> -->
      <h3 class="sm:text-3xl text-black text-2xl font-bold mb-6 text-center">
        Sign up
      </h3>
      <p class="">
        Already have an account?
        <a routerLink="" class="font-medium text-blue-800 hover:to-blue-500"
          >Log in</a
        >
      </p>

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="space-y-2">
        <!-- Name Field -->
        <div
          class="pt-[9px] pr-[10px] pb-[0px] pl-[5px] w-full sticky-field-container"
        >
          <label for="name" class="font-medium">Name</label>
          <input
            id="name"
            type="text"
            formControlName="name"
            required
            placeholder="Enter your name"
            class="w-full mt-2 px-3 py-2 bg-transparent block p-2.5 text-gray-800 transition-colors duration-300 bg-white border border-gray-300 rounded-lg shadow-sm outline-none dark:bg-gray-700 dark:text-white focus:ring-2 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600"
          />
          <div
            *ngIf="
              signupForm.get('name')?.invalid &&
              (signupForm.get('name')?.dirty || signupForm.get('name')?.touched)
            "
          >
            <small
              *ngIf="signupForm.get('name')?.hasError('required')"
              class="text-red-600"
            >
              Name is required.
            </small>
            <small
              *ngIf="signupForm.get('name')?.hasError('minlength')"
              class="text-red-600"
            >
              Name must be at least 2 characters long.
            </small>
          </div>
        </div>

        <!-- Email Field -->
        <div
          class="pt-[9px] pr-[10px] pb-[0px] pl-[5px] w-full sticky-field-container"
        >
          <label for="email" class="font-medium">Email</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            required
            placeholder="Enter your email"
            class="mt-2 px-3 py-2 block w-full p-2.5 text-gray-800 transition-colors duration-300 bg-white border border-gray-300 rounded-lg shadow-sm outline-none dark:bg-gray-700 dark:text-white focus:ring-2 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600"
            (input)="convertToLowercase()"
          />
          <div
            *ngIf="
              signupForm.get('email')?.invalid &&
              (signupForm.get('email')?.dirty ||
                signupForm.get('email')?.touched)
            "
          >
            <small
              *ngIf="signupForm.get('email')?.hasError('required')"
              class="text-red-600"
            >
              Email is required.
            </small>
            <small
              *ngIf="signupForm.get('email')?.hasError('email')"
              class="text-red-600"
            >
              Invalid email address.
            </small>
          </div>
        </div>

        <!-- Password Field -->
        <div
          class="pt-[9px] pr-[10px] pb-[0px] pl-[5px] w-full sticky-field-container"
        >
          <label for="password" class="font-medium">Password</label>
          <input
            id="password"
            type="password"
            formControlName="password"
            required
            placeholder="Enter your password"
            class="mt-2 px-3 py-2 bg-transparent block w-full p-2.5 text-gray-800 transition-colors duration-300 bg-white border border-gray-300 rounded-lg shadow-sm outline-none dark:bg-gray-700 dark:text-white focus:ring-2 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600"
          />
          <div
            *ngIf="
              signupForm.get('password')?.invalid &&
              (signupForm.get('password')?.dirty ||
                signupForm.get('password')?.touched)
            "
          >
            <small
              *ngIf="signupForm.get('password')?.hasError('required')"
              class="text-red-600"
            >
              Password is required.
            </small>
            <small
              *ngIf="signupForm.get('password')?.hasError('minlength')"
              class="text-red-600"
            >
              Password must be at least 6 characters long.
            </small>
          </div>
        </div>

        <!-- Confirm Password Field -->
        <div
          class="pt-[9px] pr-[10px] pb-[0px] pl-[5px] w-full sticky-field-container"
        >
          <label for="confirmPassword" class="font-medium"
            >Re-enter Password</label
          >
          <input
            id="confirmPassword"
            type="password"
            formControlName="confirmPassword"
            required
            placeholder="Re-enter your password"
            class="mt-2 px-3 py-2 bg-transparent block w-full p-2.5 text-gray-800 transition-colors duration-300 bg-white border border-gray-300 rounded-lg shadow-sm outline-none dark:bg-gray-700 dark:text-white focus:ring-2 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600"
          />
          <div
            *ngIf="
              signupForm.get('confirmPassword')?.invalid &&
              (signupForm.get('confirmPassword')?.dirty ||
                signupForm.get('confirmPassword')?.touched)
            "
          >
            <small
              *ngIf="signupForm.get('confirmPassword')?.hasError('required')"
              class="text-red-600"
            >
              Re-entering the password is required.
            </small>
            <small
              *ngIf="signupForm.get('confirmPassword')?.hasError('mismatch')"
              class="text-red-600"
            >
              Passwords do not match.
            </small>
          </div>
        </div>

        <!-- Date of Birth Field -->
        <div
          class="pt-[9px] pr-[10px] pb-[0px] pl-[5px] w-full sticky-field-container"
        >
          <label for="dob" class="font-medium">Date of Birth</label>
          <input
            id="dob"
            type="date"
            formControlName="dob"
            required
            class="mt-2 px-3 py-2 bg-transparent block w-full p-2.5 text-gray-800 transition-colors duration-300 bg-white border border-gray-300 rounded-lg shadow-sm outline-none dark:bg-gray-700 dark:text-white focus:ring-2 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600"
          />
          <div
            *ngIf="
              signupForm.get('dob')?.invalid &&
              (signupForm.get('dob')?.dirty || signupForm.get('dob')?.touched)
            "
          >
            <small
              *ngIf="signupForm.get('dob')?.hasError('required')"
              class="text-red-600"
            >
              Date of Birth is required.
            </small>
          </div>
        </div>

        <!-- Mobile Field -->
        <div
          class="pt-[9px] pr-[10px] pb-[0px] pl-[5px] w-full sticky-field-container"
        >
          <label for="mobile" class="font-medium">Mobile</label>
          <input
            id="mobile"
            type="text"
            formControlName="mobile"
            required
            placeholder="Enter your mobile number"
            pattern="[0-9]*"
            inputmode="numeric"
            class="mt-2 px-3 py-2 bg-transparent block w-full p-2.5 text-gray-800 transition-colors duration-300 bg-white border border-gray-300 rounded-lg shadow-sm outline-none dark:bg-gray-700 dark:text-white focus:ring-2 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600"
          />
          <div
            *ngIf="
              signupForm.get('mobile')?.invalid &&
              (signupForm.get('mobile')?.dirty ||
                signupForm.get('mobile')?.touched)
            "
          >
            <small
              *ngIf="signupForm.get('mobile')?.hasError('required')"
              class="text-red-600"
            >
              Mobile number is required.
            </small>
            <small
              *ngIf="signupForm.get('mobile')?.hasError('pattern')"
              class="text-red-600"
            >
              Please enter a valid mobile number.
            </small>
            <small
              *ngIf="signupForm.get('mobile')?.hasError('minlength')"
              class="text-red-600"
            >
              Mobile number must be 10 digits long.
            </small>
          </div>
        </div>

        <!-- Gender Field -->
        <div
          class="pt-[9px] pr-[10px] pb-[0px] pl-[5px] w-full sticky-field-container"
        >
          <label for="gender" class="font-medium">Gender</label>
          <select
            id="gender"
            formControlName="gender"
            required
            class="mt-2 px-3 py-2 bg-transparent block w-full p-2.5 text-gray-800 transition-colors duration-300 bg-white border border-gray-300 rounded-lg shadow-sm outline-none dark:bg-gray-700 dark:text-white focus:ring-2 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600"
          >
            <option value="male" class="text-black">Male</option>
            <option value="female" class="text-black">Female</option>
            <option value="other" class="text-black">Other</option>
          </select>
          <div
            *ngIf="
              signupForm.get('gender')?.invalid &&
              (signupForm.get('gender')?.dirty ||
                signupForm.get('gender')?.touched)
            "
          >
            <small
              *ngIf="signupForm.get('gender')?.hasError('required')"
              class="text-red-600"
            >
              Gender is required.
            </small>
          </div>
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="w-full px-4 py-2 mt-4 text-white bg-blue-600 rounded-lg shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
          Sign up
        </button>
      </form>
    </div>
  <!-- </div> -->
  <!-- Toast Notification -->
  <div
    *ngIf="toastMessage"
    class="fixed bottom-4 right-4 flex items-center w-64 max-w-xs p-4 space-x-4 text-white bg-blue-600 rounded-lg shadow-lg"
  >
    <span class="material-icons"></span>
    <p class="text-sm">{{ toastMessage }}</p>
    <button
      class="text-lg font-semibold text-white focus:outline-none"
      (click)="toastMessage = ''"
    >
      &times;
    </button>
  </div>
</section>
